.App {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

.Chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  flex: 3;
}

.ChartOptions {
  flex: 1;
  height: 100vh;
  margin-right: 50px;
  padding-left: 20px;
  background-color: #944dc4;
  color: white;
  font-weight: 700;
}

.OptionsTitle {
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}

.ChartTitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

